<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="../main.css">
  <head>
      <title>Patterns</title>
     <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">

  </head>
  <body>
   <table>
    <tr>
        <td>Token</td>
        <td>Symbol</td>
        <td>Total Amount</td>
        <td>Exchange</td>
        <td>Times Occured</td>
    </tr>
    {{ range . }}
    <tr>
        <td> {{ .TokenV.Address}}</td>
        <td>{{ .TokenV.Symbol }}</td>
        <td>{{ .Value }} ETH</td>
        <td>{{ .ExchangeName }}</td>
        <td>{{ .TimesOccured }}</td>
    </tr>
    {{ end }}
    </table>
  </body>
</html>
