<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Exchanges</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <table>
        <tr>  
            <td>Name</td>
            <td>Address</td>
        </tr>
        {{ range .}}
        <tr> 
            <td>{{ .Name }}</td> 
            <td>{{ .Address }}</td> 
        </tr>
        {{ end }}
    </table>
    </body>
</html>
