<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="centerswaps">
            <table>
                <tr>
                    <td><h3>Wallet</h3></td>
                    <td><h3>Token</h3></td>
                    <td><h3>Symbol</h3></td>
                    <td><h3>Amount</h3></td>
                    <td><h3>Price</h3></td>
                     <td><h3>Current Price</h3></td>
                     <td><h3>Change</h3></td>
                <!--     <td>Profit</td> -->
                <!--     <td>Profitabillity</td> -->
                </tr>
                {{ range  . }}
                <tr>
                    <td><a href="https://etherscan.io/address/{{ .Swap.Wallet }}">{{ .Wallet }}</a></td>
                    <td><a href="https://dex.guru/token/{{ .Swap.TokenAddr }}-eth">{{ .TokenAddr }}</a></td>
                    <td>{{ .Symbol }}</td>
                    <td>{{ .Value }}</td>
                    <td>{{ .Price }} ETH</td>
                    <td>{{ .CurrentPrice  }} ETH</td>
                    <td>{{ .Diff }}%</td>
                </tr>
                {{ end }}
            </table>
        </div>
    </body>
</html>
