<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wallets</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="center">
      <table>
        <tr class="headers">
          <td>Address</td>
          <td>Spent</td>
          <td>Received</td>
        </tr>
        {{ range .}}
        <tr>
          <td>
            <a href="https://etherscan.io/address/{{ .Address }}"
              >{{ .Address }}</a
            >
          </td>
          <td>{{ .TotalSpent }} ETH</td>
          <td>{{ .TotalReceived }} ETH</td>
        </tr>
        {{ end }}
      </table>
    </div>
  </body>
</html>
